# Исключаем виртуальное окружение
venv/
.env
.venv/
.env
.config

# Исключаем кэшированные файлы Python
_pycache_/
*.pyc
*.pyo
*.pyd

# Исключаем временные файлы и логи
*.log
*.sqlite3
*.db
*.pid
*.swp
*.swo

# Исключаем файлы IDE и редакторов кода
.vscode/
.idea/
*.iml

# Исключаем файлы конфигурации системы
.DS_Store
*.bak
*.old
*.swp

# Исключаем Telegram-токен (если он хранится в файле config.py)

config.json

# Исключаем автоматически сгенерированные отчеты
work_reports/
*.xlsx

# Исключаем QR-код, который создается в коде
common_qr_code.png